@import "./wallust.css";

@define-color active @foreground;
@define-color normal @foreground;
@define-color warning rgb(255, 196, 0);
@define-color critical rgb(255, 102, 0);
@define-color critical-fg rgb(0, 0, 0);

* {
    font-family: "CommitMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
}

window#waybar {
    background: transparent;
    transition: 50ms ease-in-out;
}

button {
    border: none;
    border-radius: 0;
}

button:hover {
    opacity: 0.8;
}

label:hover {
    text-shadow: 0 0 2px;
}

/* MODULES */
#blacklight,
#backlight-slider,
#battery,
#bluetooth,
#cpu,
#clock,
#disk,
#idle_inhibitor,
#keyboard-state,
#language,
#load,
#mpris,
#memory,
#network,
#power-profiles-daemon,
#privacy,
#pulseaudio,
#wlr-taskbar,
#tray,
#user,
#wireplumber,
#temperature,
#custom-swaync,
#custom-nvidia,
#custom-hyprland-keybinds,
#custom-sep,
#workspaces,
#cava {
    color: @foreground;
    padding: 5px 8px;
    background-color: alpha(@background, 0.65);
    box-shadow: 0 -2px alpha(@background, 0.5) inset;
    border-radius: 12px;
}


#workspaces {
    padding: 0;
    background: alpha(@background, 0.65);
}

#workspaces label {
    color: @foreground;
}

#workspaces button {
    padding: 0 0.5em 0 0.5em;
    margin: 0px;
    border-radius: 12px;
}

#workspaces button:hover {
    text-shadow: 0 0 2px;
    background: transparent;
}

#workspaces button:hover label {
    /*color: @active-fg;*/
}

#workspaces button.focused,
#workspaces button.active {
    background: @background;
}

#workspaces button.focused label,
#workspaces button.active label {}

#custom-sep {
    padding: 0px 2px;
}

.modules-left,
.modules-center,
.modules-right {}

/* Block */
@define-color cpu-fg @color10;
@define-color temp-fg @color11;
@define-color nvidia-fg @color12;
@define-color memory-fg @color13;
@define-color disk-fg @color14;

#ilde_inhibitor,
#user,
#disk,
#cpu,
#temperature,
#custom-nvidia,
#memory {
    margin: 0px 2px;
}

#idle_inhibitor {}

#power-profiles-daemon {
    border-radius: 10px;
}

#power-profiles-daemon.performance {
    color: @critical;
}

#power-profiles-daemon.balanced {
    color: @warning;
}

#power-profiles-daemon.power-saver {
    color: rgb(109, 255, 153);
}

#idle_inhibitor.activated {
    text-shadow: 0 0 5px @critical;
    color: @critical;
}

#user {
    text-shadow: 0 0 3px;
    border-radius: 12px;
}

#disk.normal {
    color: @disk-fg;
}

#disk.warning {
    color: @warning;
}

#disk.critical {
    color: @critical;
}

#cpu {
    color: @cpu-fg;
}

#temperature {
    color: @temp-fg;
}

#temperature.critical {
    color: @critical;
    font-weight: bold;
}


#custom-nvidia {
    color: @nvidia-fg;
}

#memory {
    color: @memory-fg;
}

#disk {
    color: @disk-fg;
}
