@define-color background rgba(0, 45, 75, 0.65);
@define-color foreground rgb(165, 179, 255);
@define-color active @foreground;
@define-color active-fg rgb(0,0,0);
@define-color normal @foreground;
@define-color warning rgb(255, 196, 0);
@define-color critical rgb(255, 102, 0);
@define-color critical-fg rgb(0, 0, 0);

* {
    font-family: "CommitMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
}

window#waybar {
    background: @background;
    transition: 50ms ease-in-out;
}

button {
    border: none;
    border-radius: 0;
}

button:hover {
    box-shadow: 0px -2px @foreground inset;
    opacity: 0.8;
}

label:hover {
    text-shadow: 0 0 2px;
}

#workspaces button {
    padding: 0 0.5em 0 0.5em;
    margin: 0px;
}

#workspaces button:hover {
    text-shadow: 0 0 2px;
    box-shadow: 0px -2px @foreground inset;
}

#workspaces button:hover label {
    color: @active-fg;
}

#workspaces button.focused,
#workspaces button.active {
    box-shadow: 0px -2px @active inset;
}

#workspaces button.focused label,
#workspaces button.active label {
}

/* MODULES */
#blacklight,
#backlight-slider,
#battery,
#bluetooth,
#cpu,
#clock,
#disk,
#idle_inhibitor,
#keyboard-state,
#language,
#load,
#mpris,
#memory,
#network,
#power-profiles-daemon,
#privacy,
#pulseaudio,
#wlr-taskbar,
#tray,
#user,
#wireplumber,
#temperature,
#custom-swaync,
#custom-nvidia,
#custom-hyprland-keybinds,
#custom-sep,
#workspaces label,
#cava {
    color: @foreground;
    padding: 5px 0px;
}

#custom-sep {
    padding: 0px 2px;
}

.modules-left,
.modules-center,
.modules-right {
}

/* Block */
@define-color cpu-fg rgba(255, 186, 37, 0.7);
@define-color temp-fg rgba(90, 255, 159, 0.5);
@define-color nvidia-fg rgba(0, 255, 13, 0.5);
@define-color memory-fg rgba(0, 132, 255, 0.5);
@define-color disk-fg rgba(124, 124, 124, 0.5);

#ilde_inhibitor, #user, #disk, #cpu, #temperature, #custom-nvidia, #memory {
    margin: 0px 2px;
}

#idle_inhibitor {
    padding: 0 5px 0 5px;
}

#power-profiles-daemon {
    padding: 0 5px 0 5px;
    border-radius: 10px;
}

#power-profiles-daemon.performance{
    color: @critical;
}

#power-profiles-daemon.balanced {
    color: @warning;
}

#power-profiles-daemon.power-saver{
    color: rgb(109, 255, 153);
}

#idle_inhibitor.activated {
    text-shadow: 0 0 5px @critical;
    color: @critical;
}

#user {
    text-shadow: 0 0 3px;
}

#disk.normal {
    color: @disk-fg;
}

#disk.warning {
    color: @warning;
}

#disk.critical {
    color: @critical;
}

#cpu {
    color: @cpu-fg;
    padding: 0 5px 0 5px;
}

#temperature {
    color: @temp-fg;
    padding: 0 5px 0 5px;
}

#temperature.critical {
    color: @critical;
    font-weight: bold;
}


#custom-nvidia {
    color: @nvidia-fg;
    padding: 0 5px 0 5px;
}

#memory {
    color: @memory-fg;
    padding: 0 5px 0 5px;
}

#disk {
    color: @disk-fg;
    padding: 0 5px 0 5px;
}
