@define-color background rgba(0, 0, 0, 0.3);
@define-color background-focus rgba(0, 0, 0, 0.7);
@define-color background-hover rgba(0, 0, 0, 1);
@define-color foreground #fff;

* {
    box-shadow: none;
    outline-style: none;
}

window {
    font-size: 24pt;
    font-family: Pixelon;
    background-color: @background;
}

button {
    background-color: @background;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    transition: all 100ms ease;
    border: none;
    border-radius: 0;
    color: @foreground;
    text-shadow: none;
}

button:focus {
    background-color: @background-focus;
    background-size: 50%;
}

button:hover {
    background-color: @background-hover;
    background-size: 70%;
}

#lock {
    background-image: image(url("./icons/lock.svg"));
}

#logout {
    background-image: image(url("./icons/logout.svg"));
}

#suspend {
    background-image: image(url("./icons/sleep.svg"));
}

#shutdown {
    background-image: image(url("./icons/power.svg"));
}

#reboot {
    background-image: image(url("./icons/restart.svg"));
}

#hibernate {
    background-image: image(url("./icons/hibernate.svg"));
}