 @define-color foreground #FFF8D5;
 @define-color background #121212;
 @define-color background-alt rgba(18,18,18,-1.25);
 @define-color cursor #8A8673;
 
 @define-color color0 #3A3A3A;
 @define-color color1 #0D0E0C;
 @define-color color2 #10100C;
 @define-color color3 #535A4A;
 @define-color color4 #A2684B;
 @define-color color5 #B96441;
 @define-color color6 #BEB066;
 @define-color color7 #F6ECBB;
 @define-color color8 #ACA583;
 @define-color color9 #111310;
 @define-color color10 #151510;
 @define-color color11 #6E7862;
 @define-color color12 #D98B64;
 @define-color color13 #F78557;
 @define-color color14 #FEEA88; 
 @define-color color15 #F6ECBB;