@define-color background rgba(0,0,0,0.3);
@define-color background-hover rgb(255,255,255);
@define-color foreground rgb(255,255,255);
@define-color active-bg rgb(255,255,255);
@define-color active-bg-transparent rgba(255,255,255,0.5);
@define-color active-bg-transparent2 rgba(255,255,255,0.7);
@define-color active-fg rgb(0,0,0);
@define-color critical-bg rgba(255,0,0,0.5);
@define-color critical-fg rgb(255,255,255);

* {
  color: @foreground;
  box-shadow: none;
}
notificationwindow, blankwindow {
  background: transparent;
  font-family: "JetBrains Mono Nerd Font";
  font-weight: bold;
}

.close-button {
  /* The notification Close Button */
  background: transparent;
  text-shadow: none;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  border: none;
  opacity: 0;
}

.close-button:hover {
  box-shadow: none;
  background: transparent;
  border: none;
  opacity: 0;
}

.notification-row {
  background: transparent;
  outline: none;
}

.notification-row:focus {
  background: @background-hover;
}

.notification-row .notification-background {
  // padding: 6px 12px;
  padding: 2px 0px;
}

.notification-row:hover .notification-background {
  background: @active-bg-transparent;
}

.notification-row .notification-background .notification {
  /* The actual notification */
  border-radius: 0;
  border: 0;
  padding: 0;
  background: @active-bg-transparent;
}

.notification-row .notification-background .notification label {
  color: @active-fg;
}
.notification-row .notification-background .notification.low {
  /* Low Priority Notification */
}

.notification-row .notification-background .notification.normal {
  /* Normal Priority Notification */
}

.notification-row .notification-background .notification.critical {
  /* Critical Priority Notification */
  background: @critical-bg;
}

.notification-row .notification-background .notification .notification-default-action {
  /* The large action that also displays the notification summary and body */
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: transparent;
  border: none;
  border-radius: 0;
}

.notification-row .notification-background .notification .notification-default-action:hover {
  -gtk-icon-filter: none;
  background: transparent;
}

.notification-row .notification-background .notification .notification-default-action:not(:only-child) {
  /* When alternative actions are visible */
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content {
  background: transparent;
  border-radius: 0;
  padding: 0;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .image {
  /* Notification Primary Image */
  -gtk-icon-filter: none;
  -gtk-icon-size: var(--notification-icon-size);
  border-radius: 100px;
  /* Size in px */
  margin: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .app-icon {
  /* Notification app icon (only visible when the primary image is set) */
  -gtk-icon-filter: none;
  -gtk-icon-size: var(--notification-app-icon-size);
  -gtk-icon-shadow: 0 1px 4px black;
  margin: 6px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box label {
  /* Fixes base GTK 4 CSS setting a filter of opacity 50% for some odd reason */
  filter: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .summary {
  /* Notification summary/title */
  font-size: var(--font-size-summary);
  font-weight: bold;
  background: transparent;
  text-shadow: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .time {
  /* Notification time-ago */
  font-size: var(--font-size-summary);
  font-weight: bold;
  background: transparent;
  text-shadow: none;
  margin-right: 30px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .body {
  /* Notification body */
  font-size: var(--font-size-body);
  font-weight: normal;
  background: transparent;
  text-shadow: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content progressbar {
  /* The optional notification progress bar */
  margin-top: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .body-image {
  /* The "extra" optional bottom notification image */
  margin-top: 4px;
  background-color: white;
  -gtk-icon-filter: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply {
  /* The inline reply section */
  margin-top: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-entry {
  background: transparent;
  caret-color: @foreground;
  border: 0;
  border-radius: 0;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button {
  margin-left: 4px;
  background: @background;
  border: 0;
  border-radius: 0;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button:disabled {
  background: initial;
  color: var(--text-color-disabled);
  border: 0;
  border-color: transparent;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button:hover {
  background: @background;
}

.notification-row .notification-background .notification .notification-alt-actions {
  background: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 4px;
}

.notification-row .notification-background .notification .notification-action {
  /* The alternative actions below the default action */
  margin: 4px;
  padding: 0;
}

.notification-row .notification-background .notification .notification-action > button {
  border-radius: 0;
  background: transparent;
}

button:hover {
  background: @active-bg-transparent;
}

button:hover label {
  color: @active-fg;
}

.notification-group {
  /* Styling only for Grouped Notifications */
  transition: opacity 200ms ease-in-out;
  /* The groups close button */
  background: transparent;
  padding: 0;
}

.notification-group:focus {
}

.notification-group.low {
  /* Low Priority Group */
}

.notification-group.normal {
  /* Low Priority Group */
}

.notification-group.critical {
  /* Low Priority Group */
}

.notification-group .notification-group-close-button .close-button {
  margin: 12px 20px;
}

.notification-group .notification-group-buttons, .notification-group .notification-group-headers {
  margin: 0 16px;
}

.notification-group .notification-group-headers {
  /* Notification Group Headers */
}

.notification-group .notification-group-headers .notification-group-icon {
  -gtk-icon-size: var(--notification-group-icon-size);
}

.notification-group .notification-group-headers .notification-group-header {
}

.notification-group .notification-group-buttons {
  /* Notification Group Buttons */
}

.notification-group.collapsed {
  /* When another group is expanded, lower the opacity of the collapsed ones */
}

.notification-group.collapsed.not-expanded {
  opacity: 0.4;
}

.notification-group.collapsed .notification-row .notification {
  background-color: @active-bg-transparent;
}

.notification-group.collapsed .notification-row .notification:hover {
}

.notification-group.collapsed .notification-row:not(:last-child) {
  /* Top notification in stack */
  /* Set lower stacked notifications opacity to 0 */
}

.notification-group.collapsed .notification-row:not(:last-child) .notification-action,
.notification-group.collapsed .notification-row:not(:last-child) .notification-default-action {
   opacity: 0;
}

.notification-group.collapsed:hover .notification-row:not(:only-child) .notification {
  background-color: @active-bg-transparent2;
}

.control-center {
  /* The Control Center which contains the old notifications + widgets */
  background: @background;
  border-radius: 0;

}

.control-center .control-center-list-placeholder {
  /* The placeholder when there are no notifications */
  opacity: 0.5;
}

.control-center .control-center-list {
  /* List of notifications */
  background: transparent;


}

.control-center .control-center-list .notification {
  // box-shadow: var(--notification-shadow);
}

.control-center .control-center-list .notification .notification-default-action,
.control-center .control-center-list .notification .notification-action {
  transition: var(--group-collapse-tranistion), var(--hover-tranistion);
}

.control-center .control-center-list .notification .notification-default-action:hover,
.control-center .control-center-list .notification .notification-action:hover {
  background-color: @active-bg-transparent;
}
.control-center .control-center-list .notification .notification-default-action:hover label,
.control-center .control-center-list .notification .notification-action:hover label{
  color: @active-fg;
}


.control-center .control-center-list .notification {
}



.blank-window {
  /* Window behind control center and on all other monitors */
  background: transparent;
}

.floating-notifications {
  background: transparent;
}

.floating-notifications .notification {
  box-shadow: none;
}

/*** Widgets ***/

.widget {
  margin: 8px;
  padding: 8px;
  border-radius: 0;

}

.widget-notifications {
  margin: 0; 
  padding: 0;
}

/* Title widget */
.widget-title{
  margin: 0;
  min-height: 100px;
  background-image: url("file:///home/vuhk/Pictures/Wallpapers/_current_wallpaper");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.widget-title > label {
  margin-right: 8px;
  font-size: 1.5rem;
}

.widget-title > button {
  margin-left: 8px;
  border-radius: 0;
}

/* DND widget */
.widget-dnd label {
  margin-right: 8px;
  font-size: 1.1rem;
}

.widget-dnd switch {
  border-radius: 0;
  margin-left: 8px;
}

.widget-dnd switch slider {
  border-radius: 0;
}

/* Label widget */
.widget-label > label {
  font-size: 1.1rem;
}

/* Mpris widget */
:root {
  --mpris-album-art-overlay: rgba(0, 0, 0, 0.55);
  --mpris-button-hover: rgba(0, 0, 0, 0.5);
  --mpris-album-art-icon-size: 96px;
  --mpris-album-art-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.widget-mpris {
  padding: 0;
  margin: 0;
  /* The parent to all players */
}

.widget-mpris .widget-mpris-player {
  // margin: 16px 20px;
  margin: 0;
  border-radius: 0;
  // box-shadow: var(--mpris-album-art-shadow);
}

.widget-mpris .widget-mpris-player .mpris-background {
  filter: blur(10px);
}

.widget-mpris .widget-mpris-player .mpris-overlay {
  padding: 16px;
  background-color: var(--mpris-album-art-overlay);
}

.widget-mpris .widget-mpris-player .mpris-overlay button:hover {
  /* The media player buttons (play, pause, next, etc...) */
  background: var(--noti-bg-hover);
}

.widget-mpris .widget-mpris-player .mpris-overlay .widget-mpris-album-art {
  border-radius: 0;
  // box-shadow: var(--mpris-album-art-shadow);
  -gtk-icon-size: var(--mpris-album-art-icon-size);
}

.widget-mpris .widget-mpris-player .mpris-overlay .widget-mpris-title {
  font-weight: bold;
  font-size: 1.25rem;
}

.widget-mpris .widget-mpris-player .mpris-overlay .widget-mpris-subtitle {
  font-size: 1.1rem;
}

.widget-mpris .widget-mpris-player .mpris-overlay > box > button {
  /* Change player control buttons */
}

.widget-mpris .widget-mpris-player .mpris-overlay > box > button:hover {
  background-color: var(--mpris-button-hover);
}

.widget-mpris > box > button {
  /* Change player side buttons */
}

.widget-mpris > box > button:disabled {
  /* Change player side buttons insensitive */
}

/* Buttons widget */
.widget-buttons-grid flowboxchild > button {
  background-color: @background;
  border-radius: 0;
}

.widget-buttons-grid flowboxchild > button:hover {
  background-color: @active-bg-transparent;
}

.widget-buttons-grid flowboxchild > button:hover > label {
  color: @active-fg;
}

.widget-buttons-grid flowboxchild > button.toggle:checked {
  background-color: @active-bg;
  /* style given to the active toggle button */
}

.widget-buttons-grid flowboxchild > button.toggle:checked > label{
  color: @active-fg;
}

/* Menubar widget */
.widget-menubar {
  /* The revealer buttons */
  /* .AnyName { Name defined in config after #
    background-color: rgba(var(--noti-bg), 1.0);
    padding: 8px;
    margin: 8px;
    border-radius: 12px;
  }

  .AnyName>button {
    background: transparent;
    border: none;
  }

  .AnyName>button:hover {
    background-color: var(--noti-bg-hover);
  } */
}

.widget-menubar > .menu-button-bar {
  /* The left button container */
  /* The right button container */
  /* The left and right button container */
}

.widget-menubar > .menu-button-bar > .start {
  margin-left: 8px;
}

.widget-menubar > .menu-button-bar > .end {
  margin-right: 8px;
}

.widget-menubar > .menu-button-bar > .widget-menubar-container button {
  border-radius: 0;
  margin: 0 4px;
}

.widget-menubar > revealer * {
  margin-top: 8px;
}

.widget-menubar > revealer * button {
  border-radius: 0;
  margin: 8px;
  margin-top: 0;
}

.widget-menubar > revealer * button:last-child {
  margin-bottom: 0;
}

/* Volume widget */
:root {
  --widget-volume-row-icon-size: 24px;
}

/* Each row app icon */
.widget-volume row image {
  -gtk-icon-size: var(--widget-volume-row-icon-size);
}

.per-app-volume {
  background-color: var(--noti-bg-alt);
  margin: 8px;
  margin-bottom: 0;
  border-radius: 0;
}

/* Slider widget */
.widget-slider label {
  font-size: inherit;
}

/* Backlight widget */
/* Inhibitors widget */
.widget-inhibitors > label {
  margin-right: 8px;
  font-size: 1.5rem;
}

.widget-inhibitors > button {
  margin-left: 8px;
  border-radius: 0;
}

