 @define-color foreground #DDE7F4;
 @define-color background #15141C;
 @define-color background-alt rgba(21,20,28,-1.25);
 @define-color cursor #7A7F95;
 
 @define-color color0 #3C3B44;
 @define-color color1 #040E29;
 @define-color color2 #121228;
 @define-color color3 #112049;
 @define-color color4 #3F5F8C;
 @define-color color5 #768AA8;
 @define-color color6 #768DA8;
 @define-color color7 #C6D5E7;
 @define-color color8 #8B95A2;
 @define-color color9 #061237;
 @define-color color10 #181735;
 @define-color color11 #172B62;
 @define-color color12 #557EBB;
 @define-color color13 #9EB8E0;
 @define-color color14 #9EBBE0; 
 @define-color color15 #C6D5E7;