 @define-color foreground #AFFCFE;
 @define-color background #161616;
 @define-color background-alt rgba(22,22,22,-1.25);
 @define-color cursor #9DBFFB;
 
 @define-color color0 #3D3D3D;
 @define-color color1 #7D58BA;
 @define-color color2 #6961BA;
 @define-color color3 #1976A2;
 @define-color color4 #067EAC;
 @define-color color5 #0888B1;
 @define-color color6 #14B8BE;
 @define-color color7 #85F2F6;
 @define-color color8 #5DA9AC;
 @define-color color9 #A675F9;
 @define-color color10 #8C81F7;
 @define-color color11 #219DD8;
 @define-color color12 #09A7E6;
 @define-color color13 #0BB6EC;
 @define-color color14 #1BF6FD; 
 @define-color color15 #85F2F6;